@import url("https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,800&family=Source+Serif+4:opsz,wght@8..60,600;8..60,700;8..60,800&family=Spectral:ital,wght@0,500;0,600;0,700;0,800;1,500&display=swap");

:root {
  --white: #f5f2e9;
  --beige: #e8ded1;
  --black: #413839;
  --orange-text: #f8961f;
  --orange-bg: #f8961f4f;

  --text-migopp: "Newsreader";
  --text-header: "Source Serif 4";
  --text-body: "Spectral";
}

* {
  background-color: var(--white);
  max-width: 900px;
  margin: 0 auto;
}

.page-layout {
  padding: 35px 5vw 0;
}

.section {
  margin: 2.5em 0 2.5em;
}

.page-title {
  font-family: var(--text-header);
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 0.5em;
}

.migopp {
  color: var(--black);
  font-family: var(--text-migopp);
  font-weight: 800;
}

.migopp:hover {
  transition: color 0.2s ease;
  color: var(--orange-text);
}

.banner {
  margin: 2em auto;
}

.in-text-link {
  font-weight: 600;
  background-color: var(--orange-bg);
  padding: 0 0.05em;
  margin: auto -0.05em;
  border-radius: 3px;
}

.post {
  margin: 0 0 1em;
}

.post-list {
  list-style: none;
  padding: 0;
}

.project-title:hover {
  background-color: var(--orange-bg);
  padding: 0 0.5em 0 0;
  margin: auto -0.5em auto 0;
  border-radius: 3px;
}

.title-and-date,
.post-desc {
  margin: 0;
  padding: 0;
}

.title-and-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emphasized-block {
  padding: 1em 1em;
  background-color: var(--beige);
  border-radius: 3px;
  line-height: 1.35em;
  font-style: italic;
}

.quote-attribution {
  padding-left: 2em;
}

.quote-styling {
  background-color: var(--beige);
  font-weight: 500;
  text-decoration: none;
}

.quote-styling:hover,
.quote-styling:visited {
  text-decoration: none;
  color: var(--black);
  cursor: text;
}

.unlinked-proj {
  font-family: var(--text-body);
  font-weight: 700;
}

header {
  margin: 1em 0 1.5em;
}

hr {
  background-color: var(--black);
  border-width: 0;
  height: 0.5px;
}

div {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 2em 0;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-family: var(--text-header);
}

p,
ul,
a,
a:visited {
  color: var(--black);
  font-family: var(--text-body);
  text-decoration: none;
  margin: revert;
  padding: revert;
}

a {
  font-weight: 700;
}

a:hover {
  transition: color 0.2s ease;
  color: var(--orange-text);
}

footer {
  text-align: center;
}
